:root {
    --js-yellow: #e8d44d;
    --js-grey: #323330;
    --off-white: aliceblue;
    --light-purple: #646cff;
    --purple: #535bf2;
    --background: rgb(20, 20, 40);
    --header: rgba(0, 0, 0, 0.3)
}