

img {
    width: 50%;
}

/* img {
    max-width: 100%;
    height: auto;
} */

header {
    background: var(--header);
    width: 100%;
}

.header__content {
    color: var(--off-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
}

.header__content  h1 {
    font-size: var(--step-2);
    font-weight: 500;
    margin-bottom: 1em;
}

.header__content  p {
    color: var(--off-white);
    font-size: var(--step-0);
    margin-bottom: 1.5rem;
}

.groups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    margin-inline: auto;
}